# =====================================================================
# 🛠️ OPERATIONAL WORKFLOW API - GIT EXCLUSIONS (.gitignore)
# =====================================================================

# 1. Kredensial & Lingkungan Rahasia (EXCLUDE .env)
.env
.env.local
.env.*.local

# 2. Virtual Environment Python
.venv/
venv/
ENV/
env/


# 3. Cache Kompilasi Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# 4. Database Log Lokal & Riwayat Transaksi (State Exclusions)
storage/history.json

# 5. IDE, Sistem, & Backup Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
.DS_Store
Thumbs.db

# 6. Distribusi & Build Python (Packaging)
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 7. Testing, Coverage, & Static Type Checker Caches
.tox/
.nox/
.coverage
.cache
htmlcov/
.nosexy
.noseids
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints

